/* VARIABLES */
$gold: #cfb53b;
$darkgrey: #3d393a;
$lightgrey: #f6f6f6;

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "operetta-32", serif;
    color: $darkgrey;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
}

body {
    margin: 0;
    padding: 0;
    border-top: 25px solid $gold;
    font-family: "filson soft", sans-serif;

    img {
        width: 100%;
    }

    p {
        font-size: 0.95em;
        font-weight: 300;
        color: $darkgrey;
    }

    .breadcrumb {
        li {
            a {
                color: #e4e4e4 !important;
                text-decoration: none;
            }

            &.active {
                color: $darkgrey !important;
            }
        }
    }

    .nav-item {
        >a {
            font-family: "operetta-12", serif;
            font-size: 1.2rem;
            color: $darkgrey;
            transition: all .3s ease;

            &.active {
                color: $gold !important;
                font-weight: 500;
                border-bottom: 3px solid $gold;
            }

            &:hover {
                color: $gold;
                font-weight: 500;
                border-bottom: 3px solid $gold;
            }
        }
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: "filson soft", sans-serif !important;
}

.btn-border {
    border: 3px solid $gold;
    color: $gold !important;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, $gold 50%);
    transition: all .5s ease !important;
    font-size: 1rem !important;

    &:hover {
        background-position: -100%;
        color: white !important;
    }
}

.btn-solid {
    border: 3px solid $gold;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "filson soft", sans-serif !important;
    color: white !important;
    font-size: 1rem;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, white 50%, $gold 50%);
    transition: all .5s ease !important;

    &:hover {
        background-position: 100%;
        color: $gold !important;
    }
}

.welkom {
    background-color: $lightgrey;
}

.container {
    .carousel-cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        text-align: center;

        h1 {
            font-size: 3rem;
        }

        p {
            text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
        }
    }

    .carousel-inner {
        position: relative;

        .carousel-item {
            height: 50em;
            object-fit: cover;
            opacity: 0.3;
        }
    }

    .welkom-image {

        img {
            object-fit: cover;
            height: 100%;
            object-position: 100%;
        }
    }

    .icon {
        a {
            fill: $gold;
            background-color: $lightgrey;
            border-radius: 500px;
            transition: all .3s;

            &:hover {
                background-color: $gold;
                fill: $lightgrey;
            }
        }
    }

    form {

        input,
        select,
        textarea {
            border: 3px solid $gold;

            color: $darkgrey;

            &::placeholder {
                color: $darkgrey;
                opacity: 1;
            }

        }

        input,
        select {

            height: 40px;
        }

        label {
            color: $gold;
        }
    }

    .contact {
        img {
            object-fit: cover;
            height: 100%;
            object-position: 25%;
        }
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .menu {
        .prijs {
            p {
                text-align: right;
            }
        }
    }
}

footer {
    background-color: $lightgrey;

    img {
        width: 30%;
    }

    .icons-footer {
        a {
            font-size: 1.5rem;
            color: $darkgrey;
            transition: all .25s;

            &:hover {
                color: $gold;
            }
        }
    }
}

@media (min-width: 768px) {
    .carousel-inner {
        position: relative;

        .carousel-item {
            height: 100% !important;
            object-fit: cover;
            opacity: 0.3;
        }
    }
}

@media (min-width: 576px) {
    .carousel-inner {
        position: relative;

        .carousel-item {
            height: 100% !important;
            object-fit: cover;
            opacity: 0.3;
        }
    }
}